@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-bg-color: #f7f7f7;
  --main-color: #525252;
}

body, html {
  height: 100%;
}

body {
  user-select: none;
  font-family: 'Roboto', sans-serif;
  width: 80%;
  height: 100%;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin:auto;
}

.privacy-back-button {
  font-size: medium;
  background-color: transparent;
  color: var(--main-color);
  width: 100px;
  height: 80px;
  border: none;
  font-weight: bold;
}

.privacy-back-button:hover {
  background-color: var(--main-color);
  color: var(--event-background-color);
}
