@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* --main-bg-color: #f8f9fa; */
  --main-bg-color: #e7e7e7;
  --event-background-color: #f0f0f0;
  --main-color: #525252;
  --event-details-color: #858585;
  --event-description-color: #5c5c5c;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
}

body {
  user-select: none;
}

input,
nav textarea,
button,
select,
a {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.App {
  height: 100%;
}

ul {
  list-style-type: none;
}

.inputFields {
  display: flex;
  width: 100%;
}

.inputFields div {
  flex-grow: 1;
  padding: 0 5px;
}

.portfolio-link {
  width: 40%;
  font-weight: bold;
  /* text-align: right; */
  margin: auto;
}

.portfolio-link a {
  width: 100%;
  text-decoration: none;
  color: var(--main-color);
  opacity: 50%;
}

.dropdown-toggle {
  width: 100%;
}

.event-card-wrapper {
  margin: 1% 0;
}

.event-card {
  background-color: var(--event-background-color);
}

.event-card-body {
  border: 1px solid #9c9c9c;
  cursor: pointer;
}

.card-top {
  color: var(--main-color);
  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  min-height: 120px !important;
  text-align: center;
}

.event-details {
  color: var(--event-details-color);
}

.card-top-left {
  flex-grow: 1;
}

.card-top-right {
  flex-grow: 1;
}

.event-description {
  margin: 5px;
  color: var(--event-description-color);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    border: 1px solid var(--main-color);
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
  }

  input[type='range']:focus {
    border: 1px solid rgb(107, 107, 107);
    background-color: transparent;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: --main-bg-color;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: var(--main-color);
    box-shadow: none;
  }

  .dropdown-item:focus {
    background-color: transparent;
    color: var(--main-color);
  }

  .dropdown-menu {
    background-color: var(--main-bg-color);
  }
}

.Alert {
  position: absolute;
  text-align: center;
  width: 100%;
}

.CitySearch .Alert {
  top: 170px;
}

.NumberOfEvents .Alert {
  top: 90px;
}
