@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-bg-color: #e7e7e7;
  --event-background-color: #f0f0f0;
  --main-color: #525252;
  --event-details-color: #858585;
  --event-description-color: #5c5c5c;
}
body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  height: 100%;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.privacy-back-button {
  background-color: transparent;
  color: var(--main-color);
  width: 100px;
  border: none;
}

.privacy-back-button:hover {
  background-color: var(--main-color);
  color: var(--event-background-color);
}
