@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-bg-color: #f8f9fa;
    --main-color: #6b6b6b;
    --event-background-color: #f3f3f3;
    --event-description-color: #353535;
    --event-details-color: #7c7c7c;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

body {
    user-select: none;
}

input,
nav textarea,
button,
select,
a {
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

.App {
    height: 100%;
}

ul {
    list-style-type: none;
}

.event-card-wrapper {
    margin: 1% 0;
}

.event-card {
    background-color: var(--event-background-color);
}

.event-card-body {
    cursor: pointer;
    /* cursor: url('path-to-image.png'), auto;	 */
}

.card-top {
    display: flex;
    justify-content: space-between;
}

.event-details {
    color: var(--event-details-color);
}
/* 
.card-top-left {
    flex-grow: 5;
}

.card-top-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.event-description {
    margin: 5px 0;
    color: --event-description-color;
}

.loading-spinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type='range'] {
        overflow: hidden;
        width: 160px;
        -webkit-appearance: none;
        background-color: transparent;
    }

    input[type='range']:focus {
        background-color: transparent;
        border: 1px solid gray;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: --main-bg-color;
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: var(--main-color);
        box-shadow: none;
    }

    .dropdown-item:focus {
        background-color: transparent;
        color: var(--main-color);
    }

    .dropdown-menu {
        background-color: transparent;
    }
}
