body, html{
    background-color: rgb(231, 231, 231);

}
.App {
    /* display: flex !important; */
    /* flex-direction: column !important; */
    /* align-items: center !important; */
}

.App div {
    /* margin: 5%; */
}

ul {
    list-style-type: none;
}

.input-field-title {
    margin: 4px 0;
}

.inputFields {
    width: 100% !important;
    display: flex !important;
    justify-content: space-evenly !important;
}

.event-card-wrapper{
    padding: 0 !important;
    margin: 0 !important;
}
.event-card {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #f8f9fa;
}
