@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(243, 243, 243);
}
body {
    user-select: none;
}

input,
nav textarea,
button,
select,
a {
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

.App {
    height: 100%;
}

ul {
    list-style-type: none;
}

.event-card-wrapper {
    margin: 1% 0;
}
.event-card {
    background-color: transparent;
    color: rgb(107, 107, 107);
}

.card-top {
    display: flex;
}

.card-top-left {
    flex-grow: 5;
}

.card-top-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-description {
    /* margin:5px; */
    padding: 5px;
    background-color: rgb(224, 224, 224);
    color: rgb(66, 66, 66);
}
.loading-spinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
}
